Redirect 301 /portfolio /

RewriteEngine on

RewriteCond %{HTTP_HOST} ^dylanhart.net [NC]
RewriteRule ^(.*)$ http://www.dylanhart.net/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.html [L]