#footer {
	height: 128px;
	line-height: 128px;
	background: url(../imgs/footer/bg.jpg);
	background-position: center top;

	.logo {
		margin-left: 230px;
		margin-right: 130px;
	}

	a {
		display: inline-block;
		margin-right: 25px;
		
		img {
			
		}
	}

}